body.home {
	$hero-color: white;
	$hero-image: "http://ericgardner.info/carte_du_vin/images/wine-cellar.jpg";
	$logo-image: "http://ericgardner.info/carte_du_vin/images/carte_du_vin_logo_full.svg";

  @include background(url($hero-image));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  widows: 100%;
  //padding-bottom: 4em;
  //margin-top: 3.5em;

  #logo {
  	display: none;
  }
}

div#home-content {
	@include outer-container;
	margin-top: 1em;
	padding: 0em 1em;

	section {
		@include media($medium-screen-up){
			@include span-columns(3 of 9);
			padding: 1em 0em 1.75em 0em;
		}
		@include media($large-screen-up){
			@include span-columns(4 of 12);
		}
	}

	h4 {
		margin-bottom: 0.5em;
	}
}
