#container {
	@include outer-container;
	margin-top: 1rem;
	padding: 1rem;

	article {

		@include media($medium-screen-up) {
			@include span-columns(6 of 9);
			padding-right: 2em;
		}

		@include media($large-screen-up) {
			@include span-columns(8 of 12);
		}

		h1 {
			margin-bottom: 1rem;
		}

		h5.date {
			margin-bottom: 1rem;
		}

		p {
			@include media($medium-screen-up) {
				font-size: $base-font-size * 1.2;
				letter-spacing: 0px;	
			}
		}

		
	}

	aside {
		@include media($medium-screen-up) {
			@include span-columns(3 of 9);
		}

		@include media($large-screen-up) {
			@include span-columns(4 of 12);
		}

	}
}