

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-light-webfont.eot');
    src: url('/fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-light-webfont.woff') format('woff'),
         url('/fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('/fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: 300;
    font-style: normal;

}




// @font-face {
//     font-family: 'Montserrat';
//     src: url('/fonts/montserrat-hairline-webfont.eot');
//     src: url('/fonts/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/montserrat-hairline-webfont.woff2') format('woff2'),
//          url('/fonts/montserrat-hairline-webfont.woff') format('woff'),
//          url('/fonts/montserrat-hairline-webfont.ttf') format('truetype'),
//          url('/fonts/montserrat-hairline-webfont.svg#montserrathairline') format('svg');
//     font-weight: 200;
//     font-style: normal;

// }